spring:
  application:
    name: querydsl-study
  config:
    import: optional:file:.env[.properties]

  # MySQL 설정
  datasource:
    url: jdbc:mysql://localhost:3306/querydsl_study?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA 설정
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.MySQLDialect

# P6Spy 설정
decorator:
  datasource:
    p6spy:
      enable-logging: true
      multiline: true
      logging: slf4j

# 로깅 레벨 설정
logging:
  level:
    p6spy: info
    com.querydslstudy.repository: debug