spring:
  application:
    name: querydsl-study
  config:
    import: optional:file:.env[.properties]

  # MySQL 설정
  datasource:
    url: jdbc:mysql://localhost:3306/querydsl_study?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA 설정
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.MySQLDialect

logging:
  level:
    org.hibernate.orm.jdbc.bind: trace
